body{
    margin: O;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
   height :300px;
   width: 400px;
   object-fit: cover;
}

.main{
    height: 100vh;
    display: flex;;

}

.main_left{
    flex:0.8;
    display: flex;
    flex-direction: column;
}

.main_right{
    flex: 0.2;
    
}

.main_videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_controls {
    display: flex;
    background-color: darkgray;
    color: white;
    padding: 5px;
}

.main_controls_block {
    display: flex;  
}


.main_controls_button {
    display: flex;  
    flex-direction: column;
    padding: 5px 10px;
    border-right: 1px solid grey;
}

.main_controls_button >i{
    text-align: center;
    
}